<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mazer Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/pages/auth.css">
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="">
                <div id="auth-left">
                    <div class="auth-logo mb-5 text-center">
                        <a href="reset-password.html"><img src="../assets/images/logo/logo.png" alt="Logo"
                                width="120"></a>
                    </div>

                    <form action="reset-password.html">
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control" placeholder="Nhập mã OTP">
                            <div class="form-control-icon">
                                <i class="bi bi-lock-fill"></i>
                            </div>
                        </div>
                        <div class="text-center text-lg">
                            <p><a class="font-bold" href="login.html">Gửi lại mã OTP sau ... giây</a></p>
                        </div>
                        <button class="btn btn-primary btn-block btn-lg shadow-lg">Xác thực</button>
                    </form>
                    <div class="text-center mt-4 text-lg fs-4">
                        <p><a class="font-bold" href="login.html">Quay lại trang đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>